.cascader {
  :global {
    .ant-cascader {
      width: 100%;
    }
    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
      box-shadow: none;
    }
    .ant-select.ant-cascader:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 4px;
    }
    .ant-select-disabled.ant-cascader.ant-select:not(.ant-select-customize-input)
      .ant-select-selector {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}

.antd5Cascader {
  :global {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 6px;
    }
  }
}
