.wrapper {
  .slotInlineWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .formItemDesc {
    margin-top: 6px;
  }

  :global {
    .ant-form-item-label-wrap {
      overflow: hidden;
    }
  }
}

.formItemControl {
  display: flex;
  // align-items: flex-start;

  .formItemSlotContent {
    width: 100%;
    flex: 1;
  }
  .formItemSlotAfter {
    display: flex;
    align-items: center;
    margin-left: 12px;
    & > div {
      // hack slot style
      height: auto !important;
    }
  }
}

.image {
  width: 14px;
  height: 14px;
}
