.wrapper {
  position: 'relative';

  * {
    transition: 0s !important;
  }

  .slotInlineWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .formItemDesc {
    margin-top: 6px;
    font-size: 12px;
  }

  :global {
    .ant-form-item-label-wrap {
      overflow: hidden;
    }

    .ant-form-inline .ant-form-item > .ant-form-item-control {
      min-width: 0;
    }
  }

  .customLabel {
    :global {
      .ant-form-item-label > label {
        width: 100%;
      }
    }
  }
}

.minWrapSize {
  :global {
    .ant-form .ant-form-item {
      flex-wrap: wrap !important;
    }
    .ant-form:not(.ant-form-horizontal) .ant-form-item-control,
    .ant-form:not(.ant-form-horizontal) .ant-form-item-label {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
.ant-form-item-cus-wrap {
  overflow: unset !important;
  line-height: 1.3215em !important;
  white-space: unset !important;
  > label {
    display: inline-block !important;
    width: 100% !important;
    max-height: fit-content !important;
    height: unset !important;
  }
}

.formItemControl {
  display: flex;
  // align-items: flex-start;

  .formItemSlotContent {
    width: 100%;
    flex: 1;
  }

  .formItemSlotAfter {
    display: flex;
    align-items: center;
    margin-left: 12px;

    & > div {
      // hack slot style
      height: auto !important;
    }
  }
  .formItemSlotAfterEmpty {
    align-items: stretch;
    min-width: 50px;
  }
}

.empty {
  position: relative;
  padding-bottom: 68px !important;

  :global {
    div[data-isslot='1'] {
      overflow: initial;
    }
  }

  .emptyHorActions {
    position: absolute;
    width: 100%;
    margin-top: 48px;
  }

  .emptyVerActions {
    position: absolute;
    width: 100%;
    margin-top: 24px;

    &.onlyone {
      margin-top: 54px;
    }
  }
}

.newRow {
  display: block;
  :global {
    .ant-form-item-label.ant-form-item-label-left {
      padding-bottom: 0 !important;
    }
  }
}

// .mobileForm {
  :global {
    .ant-form-item .ant-form-item-label {
      padding: 0 0 8px;
      line-height: 1.5715;
      white-space: normal;
      text-align: left;
      font-weight: bolder;
    }

    .ant-form-item .ant-form-item-label > label {
      margin: 0;
    }

    .ant-form-item-has-error .ant-checkbox-inner {
      border-color: #a14d43;
    }

    .ant-form-item .ant-form-item-label > label:after {
      display: none;
    }

    .ant-form-rtl.ant-form-item .ant-form-item-label {
      text-align: right;
    }

    .ant-form-item-with-help .ant-form-item-explain {
      min-height: 0;
    }

    .ant-form .ant-form-item {
      flex-wrap: wrap;
    }

    .ant-form:not(.ant-form-horizontal) .ant-form-item-control,
    .ant-form:not(.ant-form-horizontal) .ant-form-item-label {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .ant-col-xs-24.ant-form-item-label {
      padding: 0 0 8px;
      line-height: 1.5715;
      white-space: normal;
      text-align: left;
    }

    .ant-col-xs-24.ant-form-item-label > label {
      margin: 0;
    }

    .ant-col-xs-24.ant-form-item-label > label:after {
      display: none;
    }

    .ant-form-rtl.ant-col-xs-24.ant-form-item-label {
      text-align: right;
    }
  }
// }

.infoLabel {
  position: absolute;
  background: #438c06;
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 2px 10px;
  z-index: 10010;
}

.keepMobileWidth {
  .ant-form:not(.ant-form-horizontal) .ant-form-item-control {
    flex: 1 1 0;
    max-width: 100%;
  }
  // .ant-form-item .ant-form-item-label {
  //   text-align: right;
  // }
  .ant-form-item .ant-form-item-label > label::after {
    display: block !important;
  }

  .ant-col-xs-24.ant-form-item-label > label::after {
    display: block !important;
  }
}
.disableMobileWrapper {
  :global {
    .keepMobileWidth();
  }
}
