@import '../../global.less';
.wrapper {
  position: relative;
  display: flex;
  overflow: hidden !important;

  * {
    transition: 0s !important;
  }

  .operation {
    display: flex;
    &.operation-vertical {
      margin-top: 32px;
      .operationExpand {
        margin-top: 64px;
      }
      .operationBtnReset {
        margin-top: 32px;
      }
    }
    &BtnSubmit {
      display: block;
      width: 90px;
    }
    &BtnReset {
      display: block;
      width: 90px;
      margin-top: 24px;
    }
    &Expand {
      display: flex;
      flex-wrap: wrap;
      margin-top: 56px;
      &MarginLeft {
        margin-left: 32px;
      }
      &Row {
        white-space: nowrap;
        height: fit-content;
        line-height: 32px;
        margin: 0 8px;
        color: var(--ant-primary-color, #1890ff);
        cursor: pointer;
        &Name {
          margin-left: 8px;
        }
      }
    }
  }

  .slotInlineWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .formItemDesc {
    font-size: 14px;
    color: var(--ant-primary-color, #1890ff);
    line-height: 32px;
  }

  :global {
    .ant-form > .ant-row {
      width: initial !important; // 之前设置了100%导致表单项宽度不够，需要重置掉
    }

    .ant-form-item-label-wrap {
      overflow: hidden;
    }

    .ant-form.ant-form-horizontal :not(.formAction) .ant-form-item {
      margin-bottom: 24px;
    }

    .ant-form.ant-form-vertical .formAction {
      margin-top: 24px;
    }

    .ant-col-24.ant-form-item-label,
    .ant-col-xl-24.ant-form-item-label,
    .ant-form-vertical .ant-form-item-label {
      padding: 0;
    }

    .ant-form-inline .ant-form-item > .ant-form-item-control {
      min-width: 0;
    }

    .ant-btn-primary {
      border-color: var(--ant-primary-color, #1890ff);
      background: var(--ant-primary-color, #1890ff);
    }

    .ant-form-item-label {
      padding: 0;
      text-align: left; // 不能删除，否则对齐方式会默认为右对齐
    }

    .ant-form-item-label > label {
      min-height: 32px;
      line-height: 16px;
      font-size: 14px;
      font-weight: 700;
      text-align: left;
      .ant-form-item-tooltip {
        color: var(--ant-primary-color, #1890ff);
        font-size: 16px;
        margin-left: 8px;
      }
    }

    .formAction .ant-btn {
      min-width: 100px;
      border-radius: 4px;
    }

    .ant-input-affix-wrapper {
      padding: 4px 8px;
      border-color: #dfdfdf;
      border-radius: 4px;
      // amc系统会丢失该样式
      &.ant-input-affix-wrapper-textarea-with-clear-btn {
        padding: 0 !important;
        border: 0 !important;
      }

      &.ant-input-affix-wrapper:focus {
        box-shadow: none;
        border-color: var(--ant-primary-color, #1890ff);
      }
    }

    .ant-form-item-label
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
      color: #a14d43;
    }

    .ant-form-item-explain-error {
      color: #a14d43;
      font-size: 14px;
    }

    .ant-form-item-with-help .ant-form-item-explain {
      min-height: 0;
    }

    .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(
        .ant-input-affix-wrapper-borderless
      ).ant-input-affix-wrapper {
      border-color: #a14d43;
    }

    .ant-input-affix-wrapper-disabled {
      background-color: transparent;
    }

    .ant-input,
    .ant-input[disabled] {
      color: #262626;
      background-color: transparent;
    }

    .ant-picker.ant-picker-disabled {
      border-color: #dfdfdf;
      background-color: transparent;
    }

    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
      border-color: #a14d43;
      box-shadow: none;
    }

    // checkbox 校验失败选项增加边框
    .ant-form-item-has-error .ant-checkbox-inner {
      border-color: #a14d43;
    }

    // 图片上传
    .ant-form-item-has-error .uploadWrapper {
      border-color: #a14d43;
      color: #a14d43;
      .anticon {
        color: #a14d43;
      }
    }

    .ant-form-item-has-error .ant-upload .ant-btn {
      border-color: #a14d43;
      color: #a14d43;
    }

    .ant-form-item-has-error .formItemDesc {
      display: none;
    }
  }

  .customLabel {
    :global {
      .ant-form-item-label > label {
        width: 100%;
      }
    }
  }
}

.minWrapSize {
  :global {
    .ant-form .ant-form-item {
      flex-wrap: wrap !important;
    }
    .ant-form .ant-form-item .ant-form-item-control,
    .ant-form .ant-form-item .ant-form-item-label {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }
}
.ant-form-item-cus-wrap {
  overflow: unset !important;
  line-height: 1.3215em !important;
  white-space: unset !important;
  > label {
    // display: inline-flex !important;
    width: 100% !important;
    max-height: fit-content !important;
    height: unset !important;
  }
}

.formItemControl {
  display: flex;
  // align-items: flex-start;

  .formItemSlotContent {
    width: 100%;
    flex: 1;
  }

  .formItemSlotAfter {
    display: flex;
    align-items: center;
    margin-left: 12px;

    & > div {
      // hack slot style
      height: auto !important;
    }
  }
  .formItemSlotAfterEmpty {
    align-items: stretch;
    min-width: 50px;
  }
}

.form {
  flex-grow: 1;
  &:global(.ant-form-vertical .formAction .ant-form-item-label) {
    display: none;
  }
}
.formFold {
  &:global(.ant-form-horizontal),
  &:global(.ant-form-inline) {
    height: 90px;
    overflow: hidden;
  }
  &:global(.ant-form-vertical) {
    height: 160px;
    overflow: hidden;
  }
}

.empty {
  position: relative;

  :global {
    div[data-isslot='1'] {
      overflow: initial;
    }
  }

  .emptyHorActions {
    position: absolute;
    width: 100%;
    margin-top: 48px;
  }

  .emptyVerActions {
    position: absolute;
    width: 100%;
    margin-top: 48px;

    &.onlyone {
      margin-top: 54px;
    }
  }
}

.mobileForm {
  :global {
    .ant-form-item .ant-form-item-label {
      padding: 0 0 8px;
      line-height: 1.5715;
      white-space: normal;
      text-align: left;
    }

    .ant-form-item .ant-form-item-label > label {
      margin: 0;
    }

    .ant-form-item .ant-form-item-label > label:after {
      display: none;
    }

    .ant-form-rtl.ant-form-item .ant-form-item-label {
      text-align: right;
    }

    .ant-form .ant-form-item {
      flex-wrap: wrap;
    }

    .ant-form .ant-form-item .ant-form-item-control,
    .ant-form .ant-form-item .ant-form-item-label {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .ant-col-xs-24.ant-form-item-label {
      padding: 0 0 8px;
      line-height: 1.5715;
      white-space: normal;
      text-align: left;
    }

    .ant-col-xs-24.ant-form-item-label > label {
      margin: 0;
    }

    .ant-col-xs-24.ant-form-item-label > label:after {
      display: none;
    }

    .ant-form-rtl.ant-col-xs-24.ant-form-item-label {
      text-align: right;
    }
  }
}

.infoLabel {
  position: absolute;
  background: #438c06;
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 2px 10px;
  z-index: 10010;
}

.keepMobileWidth {
  .ant-form .ant-form-item .ant-form-item-control {
    flex: 1 1 0 !important;
    max-width: 100%;
  }
  // .ant-form-item .ant-form-item-label {
  //   text-align: right;
  // }
  .ant-form-item .ant-form-item-label > label::after {
    display: block !important;
  }

  .ant-col-xs-24.ant-form-item-label > label::after {
    display: block !important;
  }
}
.disableMobileWrapper {
  :global {
    .keepMobileWidth();
  }
}

.labelWrapperWithTag label {
  width: 100%;
}

.labelWithTag {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titleTag {
  display: flex;
  color: var(--ant-primary-color, #1890ff);
  font-weight: 400;

  .icon {
    margin-right: 4px;
    font-size: 16px;
  }
}
