.customIcon {
  :global {
    .ant-image-img {
      width: 14px;
      height: 14px;
    }
  }
}
:global(.ant-input-affix-wrapper-disabled:not(.ant-input-password)) {
  border: none;
  background-color: transparent;
  color: inherit;
}
:global(.ant-input:not(.ant-select-selection-search-input)[disabled]) {
  border: none;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(0, 0, 0, 0);
}
:global(.ant-picker-input>input[disabled]) {
  border: none;
  color: rgba(0, 0, 0, 0.85);
}
:global {
  .ant-input-affix-wrapper-status-error .ant-input-password-icon.anticon {
    color: #a14d43;
  }
}
.input {
  &:global(.ant-input-affix-wrapper-focused) {
    box-shadow: none;
    border-color: var(--ant-primary-color, #1890ff);
  }
  &:global(.ant-input-group-wrapper-status-error .ant-input-group-addon) {
    color: #a14d43;
    border-color: #a14d43;
  }
  :global {
    .ant-input {
      background: #ff000000;
      &::placeholder {
        color: #a3a3a3;
      }
    }

    .ant-input-affix-wrapper {
      border-color: #dfdfdf;
      border-radius: 4px;
    }

    .ant-input-group-addon {
      color: #262626;
      background-color: transparent;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      min-width: 48px;
      padding: 0 16px;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
