.fiText {

}

.customIcon {
  :global {
    .ant-image-img {
      width: 14px;
      height: 14px;
    }
  }
}

.input {
  :global {
    .ant-input {
      background: #ff000000 !important;

      &::placeholder {
        color: #595959;
      }
    }

    .ant-input-affix-wrapper {
      border-color: #DFDFDF;
      border-radius: 4px;
    }

    .ant-input-affix-wrapper-focused {
      box-shadow: none;
    }

    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
      border-color: var(--ant-primary-color, '#1890ff');
    }
  }
}
