.timePicker {
  :global(.ant-picker) {
    width: 100%;
    border-radius: 4px;
  }
  :global(.anticon.anticon-clock-circle) {
    color: var(--mb-color-border, #d9d9d9);
  }
  :global {
    .ant-picker-focused {
      box-shadow: none;
    }
  }
}

.timePickerPopup {
  :global {
    .ant-picker-time-panel-column {
      border-left: 0 !important;
      width: 75px;
    }
    .ant-picker-panel .ant-picker-footer {
      border-top-color: #ececec;
    }
    .ant-picker-time-panel-column
      > li.ant-picker-time-panel-cell
      .ant-picker-time-panel-cell-inner {
      height: 32px;
      line-height: 32px;
      padding: 0;
      text-align: center;
      color: #bfbfbf;
    }
    .ant-picker-time-panel-column
      > li.ant-picker-time-panel-cell.ant-picker-time-panel-cell-selected
      .ant-picker-time-panel-cell-inner {
      color: var(--ant-primary-color, #1890ff);
    }
  }
}
