.tabbox {
  :global {
    .ant-tabs-tab .anticon {
      margin-right: 4px;
    }
    .ant-tabs-tab .ant-tabs-tab-btn {
      color: inherit !important;
    }
  }
  .minHeight {
    min-height: 100px;
  }
  .content {
    height: 100%;
  }
}
