.box {
  width: 100%;
  height: 100%;
}
.swiper,
.swiperItem{
  width: 100%;
  height: 100%;
}

.swiperItem > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.myThumbsSwiperMain{
    width: 100%;
    height: 80%;
}
.myThumbsSwiper{
    padding-top: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 20%;
}
