.gridWrapper {
  //padding: 12px;
  // :global(.ant-row) {
  //   margin: 0 !important;
  // }

  // background-color: blue;
  // overflow: auto; 
  .gridText {
    text-align: center;
  }
}

.rowWrapper {
  //padding: 8px;
  // width: 100%;
  // background-color: yellow;
}

.colWrapper {
  position: relative;
  //padding: 8px;
  // min-height: 50px;
  // width: 100%;
  // .colMark {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   font-size: 12px;
  //   z-index: 1;
  //   width: 14px;
  //   height: 18px;
  //   color: #ffffff;
  //   background: #fa6400;
  //   text-align: center;
  // }

  // background-color: red;
}

.previewColDark {
  color: #fff;
  text-align: center;
  background: #0092ff;
  padding: 6px 0;
  margin: 2px 0;
}

.previewColLight {
  color: #fff;
  text-align: center;
  background: rgba(0,146,255,.75);
  padding: 6px 0;
  margin: 2px 0;
}
