.domainContainer {
  .queryContent {
    margin-bottom: 12px;
  }

  .actionsContent {
    margin-bottom: 12px;
    text-align: right;
  }

  .tableContent {
  }
  // min-width: 600px;

  // &.edit {
  //   min-height: 700px;
  // }
}

// .form {
//   margin-bottom: 24px;
//   margin-top: -12px;

//   .addBtn {
//     margin-left: 8px;
//   }

//   .marginTop {
//     margin-top: 12px;
//   }
// }

// .operateRow {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   margin-bottom: 12px;
// }

// .createModal {
//   width: 600px;
// }

// .tipForHidden {
//   position: absolute;
//   right: 6px;
//   top: 6px;
//   font-size: 12px;
//   color: red;
// }

// .container {
//   :global {
//     .ant-modal-close {
//       position: absolute !important;
//     }

//     .ant-modal-title {
//       margin-right: 30px;
//     }
//     .ant-modal-header {
//       padding: 16px 24px;
//       border-bottom: 1px solid #f0f0f0;
//     }
//     .ant-modal-body {
//       padding: 24px;
//       overflow: auto;
//     }
//     .ant-modal-footer {
//       padding: 10px 16px;
//       border-top: 1px solid #f0f0f0;

//       .toolbar {
//         display: flex;
//         align-items: center;
//         flex-direction: row;
//         flex-flow: row wrap;
//       }
//     }
//   }
// }

// .itemTip {
//   font-style: italic;
//   color: #999999;
// }

// .formItemArea {
//   :global {
//     .ant-form-item-label {
//       width: 112px !important;
//       flex-shrink: 0;
//     }
//   }
// }
