.wrapper {
  width: 100%;
  height: 100%;
  cursor: pointer;

  .button {
    width: 100%;
    height: 32px;
    min-width: 100px;
    border-radius: 4px;
  }

  :global {
    .ant-btn-two-chinese-chars > :not(.anticon) {
      letter-spacing: 0;
      margin-right: 0;
    }

    // 次要按钮
    .ant-btn-default:not([disabled]) {
      border: 1px solid #ececec;
      color: #262626;

      &:hover {
        border-color: var(--ant-primary-color, #1890ff);
        color: var(--ant-primary-color, #1890ff);
        background: #ffffff;
      }
    }

    // 主要按钮
    .ant-btn-primary:not([disabled]) {
      border-color: var(--ant-primary-color, #1890ff);
      background: var(--ant-primary-color, #1890ff);

      // 使用主题包的主色悬浮态
      &:hover {
        border-color: var(--mb-color-primary-hover, #40a9ff);
        background: var(--mb-color-primary-hover, #40a9ff);
      }
    }

    // 禁用状态
    .ant-btn[disabled] {
      color: #595959;
      border-color: #ececec;
      background: #ececec;
    }
  }
}

// .button {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   /*初始样式*/
//   color: #fff;
//   font-weight: 400;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 1.5715;
//   background: #0075ff;
//   border-color: #0075ff;
//   border-width: 1px;
//   border-style: solid;
//   border-radius: 4px;
//   text-align: center;
// }

.asMapArea {
  background: linear-gradient(90deg, #ddd 50%, #fff 50%) repeat-x,
    linear-gradient(90deg, #ddd 50%, #fff 50%) repeat-x,
    linear-gradient(0deg, #ddd 50%, #fff 50%) repeat-y,
    linear-gradient(0deg, #ddd 50%, #fff 50%) repeat-y;
  background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  width: 100%;
  height: 100%;
}

.space {
  :global {
    .ant-space {
      line-height: 1;
    }

    .ant-space-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ant-image {
      line-height: 0;
    }
  }
}
