.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mult-image-item {
  flex:0 0 auto;
  height: auto;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 14px;
}

.preview {
  .wrapper {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}
